<extend name="Public:index" />
<!-- page heading start-->
<block name="content">
<div class="page-heading">
    <h3>
        管理首页
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">管理后台</a>
        </li>
        <li> 商品管理 </li>
        <li class="active"> 修改商品</li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<section class="wrapper">
    <!-- page start-->

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    修改商品
                </header>
                <div class="panel-body">
                    <form role="form" action="{:U('edit')}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$rows.id}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品名称</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="name" value="{$rows.name}" placeholder="请输入名字">
                        </div>
                        <div>
                        <div class="form-group"  style="width: 50%; float: left">
                            <label for="exampleInputEmail1">商品分类</label>
                            <select class="form-control" name="goods_category_id">
                                <volist name="categories" id="category">
                                    <option value="{$category.id}" <if condition="$category['id'] eq $rows['goods_category_id']">selected</if>>{:str_repeat('&emsp;',($category['level']-1)*2)}{$category.name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group"  style="width: 50%; float: right">
                            <label for="exampleInputEmail1">商品品牌</label>
                            <select class="form-control" name="brand_id">
                                <volist name="brands" id="brand">
                                    <option value="{$brand.id}" <if condition="$brand['id'] eq $rows['brand_id']">selected</if>>{$brand.name}</option>
                                </volist>
                            </select>
                        </div>
                        </div>
                        <div>
                            <div class="form-group" style="width: 25%; float: left">
                                <label >市场价</label>
                                <input type="text" class="form-control"  name="market_price" value="{$rows.market_price}" placeholder="请输入市场价">
                            </div>
                            <div class="form-group" style="width: 25%; float: left">
                                <label >本店价</label>
                                <input type="text" class="form-control"  name="shop_price" value="{$rows.shop_price}" placeholder="请输入本店价">
                            </div>
                            <div class="form-group" style="width: 25%; float: left">
                                <label >库存</label>
                                <input type="text" class="form-control"  name="stock" value="{$rows.stock}" placeholder="请输入库存">
                            </div>
                            <div class="form-group" style="width: 25%; float: left">
                                <label for="exampleInputEmail1">排序</label>
                                <input type="text" class="form-control" name="sort" value="{$rows.sort}" placeholder="请输入排序数字,越小越靠前">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">参与活动:&emsp;</label>
                            <volist name="promotions" id="promotion">
                                <input type="checkbox" name="prom_id[]" value="{$promotion.id}" <if condition="in_array($promotion['id'],$rows['prom_id'])">checked</if>>{$promotion.prom_type}&emsp;&emsp;
                            </volist>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品说明</label>
                            <textarea id="container" name="content">{$rows.content}</textarea>
                        </div>
                        <img src="{$rows.logo}" width="100px" height="100px">
                        <div class="form-group">
                            <label for="logo-upload" >LOGO</label>
                            <input type="file" id="logo-upload">
                            <input type="hidden" name="logo" id="logo"/>
                            <img src="" id="logo-preview" style="max-width: 100px;max-height: 100px"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="is_on_sale" value="1"  <if condition="$rows['is_on_sale'] eq 1">checked</if> /> 上架
                                <input type="radio" name="is_on_sale" value="0"  <if condition="$rows['is_on_sale'] eq 0">checked</if> /> 下架
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">提交新增</button>
                    </form>

                </div>
            </section>
        </div>
    </div>
</section>
</block>

<block name="js">



    <js href="__PUBLIC__/ueditor/ueditor.config.js" />
    <js href="__PUBLIC__/ueditor/ueditor.all.js" />
    <script src="__LAYER__/layer.js"></script>

    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type='text/javascript'>
        $(function () {
            //初始化一个uploadify控件
            $("#logo-upload").uploadify({
                height: 30,
                swf: '__UPLOADIFY__/uploadify.swf',
                uploader: '{:U("Upload/upload")}',
                width: 120,
                buttonText:'选择文件',
                fileTypeExts:'*.jpg;*.jpeg;*.jpe;*.png;*.gif',
                onUploadSuccess:function(file,data){
                    //将响应字符串转换为json对象
                    data = $.parseJSON(data);
                    if(data.status){
                        //成功了
                        $('#logo').val(data.url);
                        $('#logo-preview').attr('src',data.url);
                        layer.alert(data.msg, {icon: 6});
                    }else{
                        layer.alert(data.msg, {icon: 5});
                    }
                }
            });
        });
    </script>
</block>