<extend name="Public:index" />
<block name="content">

    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            管理首页
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">管理后台</a>
            </li>
            <li class="active"> 文章分类管理 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        文章分类列表
                            <span class="tools pull-right">
                                <a href="{:U('add')}" class="btn btn-success btn-link">新增</a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <form class="form-inline" action="{:U()}">
                            <div class="form-group">
                                <label for="exampleInputName2">所属分类</label>
                                <select class="form-control" name="category">
                                    <option value="0">全部</option>
                                    <volist name="categories" id="c">
                                    <option value="{$c.id}" <if condition="$_GET['category'] eq $c['id']">selected</if> >{$c.name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">文章标题</label>
                                <input type="text" class="form-control" id="exampleInputName2" name="name" value="{:I('get.name')}">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                        <hr/>
                        <div class="adv-table">
                            <table  class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th width="50px">编号</th>
                                    <th>分类名称</th>
                                    <th>分类简介</th>
                                    <th>状态</th>
                                    <th>帮助相关</th>
                                    <th class="hidden-phone">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="lists" id="list">
                                    <tr class="gradeX">
                                        <td>{$list.category_id}</td>
                                        <td>{$list.category_name}</td>
                                        <td>{$list.category_intro|substr=0,25}......</td>
                                        <td><if condition="$list['category_status'] eq 1">使用<else/>未使用</if></td>
                                        <td><if condition="$list['category_is_help'] eq 1">是<else/>否</if></td>
                                        <td>
                                            <a href="{:U('edit', array('category_id' => $list['category_id']))}" class="btn btn-xs btn-success">编辑</a>
                                            <a href="{:U('delete', array('category_id' => $list['category_id']))}" class="btn btn-danger btn-xs deleteBtn">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            {$pages}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示：Notice!</h4>
                </div>
                <div class="modal-body">
                    亲！你确认要删除吗？删除了没有办法恢复哟~么么哒！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">好的，我不删除了</button>
                    <a href="" id="deleteTrue" class="btn btn-primary">滚！狠心删除</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.deleteBtn').click(function(){
                var _link = $(this).attr('data-href');
                $('#deleteTrue').attr('href', _link);
            })
        });
    </script>
</block>